@import "./../../scss/import";

.edit {
    display: block;
    width: 100%;
}

.input {
    padding: 4px 11px !important;
    height: auto !important;
    box-shadow: none !important;
}

.apply {
    background-color: $color-white !important;
    border: 0 !important;
}
