@import "./../../scss/import";

.TaskItem {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4px;
    padding-bottom: 4px;

    &:not(:last-child) {
        border-bottom: 1px solid $color-main;
    }

    &.done {
        text-decoration: line-through;
    }

    & label {
        display: block;
        padding: 0.375rem 0.75rem;
        transition: 0.2s;
        margin-bottom: 0;
        margin-right: auto;

        &:hover {
            color: $color-dark-accent;
        }
    }

    & input[type="checkbox"] {
        margin-right: 10px;
    }

    & input[type="checkbox"],
    & label {
        cursor: pointer;
    }
}

.checkbox {
    @media screen and (max-width: 600px) {
        display: none;
    }
}
